﻿template   
	require(from="app.css")
	require(from="bootstrap/css/bootstrap.css")
	require(from="font-awesome/css/font-awesome.css")
	div.header.mb-2
		a.maxplan-brand(href="/")
	#app.container-fluid
		router-view
