
<div class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="navbar-inner">
        <div class="accordion-heading row-fluid">
            <div class="span10">
            </div>
        </div>
    </div>
</div>

