@{
    Layout = null;
}
<!DOCTYPE html>
<html id="application">
<head>
    @Html.Partial("_Header")
</head>
<body>
<div class="app" aurelia-app="bootstrapAurelia.js">
    <div id="outer">
        <div>GSM Presents...</div>
    </div>
</div>

<environment names="Development">
    <script id="__bs_script__">
        //<![CDATA[
        document.write("<script async src='http://HOST:20501/browser-sync/browser-sync-client.js?v=2.17.0'><\/script>"
            .replace("HOST", location.hostname));
        //]]></script>
</environment>
    

<script src="/jspm_packages/system.js"></script>
<script src="/config.js"></script>
<script>
        System.import('aurelia-bootstrapper');

    </script>
<script src="../../Scripts/jquery-2.1.4.js"></script>
<script src="../../Scripts/bootstrap.js"></script>
</body>
</html>